/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

@import url("https://v1.fontapi.ir/css/SFProDisplay");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* All devices only have padding in section content, not the subtext */
.content p.subtext,
.content h1 {
  padding: 0;
}
/* Added to fix all devices' adress not aligning with 3 lines to adress */
.address {
  align-items: center;
}
.address > p {
  width: 182px;
}

/* Added to fix all logo name to be propper case */
.logo span {
  text-transform: capitalize;
}

/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */

@media (min-width: 1024px) {
  .header-content {
    padding: 10px 30px;
  }

  .logo span {
    font-size: 24px;
  }

  .top-navigation {
    gap: 30px;
    padding: 4px 0;
  }

  .top-navigation .trigram,
  .top-navigation ul li:nth-of-type(3) {
    display: none;
  }

  .top-navigation ul li a,
  .top-navigation ul li a.active {
    color: #737373;
    font-size: 18px;
  }
  .top-navigation ul li a {
    transition-duration: 1s;
  }
  .top-navigation ul li a:hover {
    color: #434343;
  }

  .section-info {
    padding: 80px 30px;
  }

  .content h1 {
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  .portfolio-list {
    padding: 0 30px;
  }

  .portfolio-item,
  .portfolio-item-info {
    gap: 10px;
  }

  .teammates-content {
    padding: 0;
  }

  .teammates-content .section-info {
    padding: 80px 30px 60px;
  }

  .surrounded-header {
    font-size: 40px;
    gap: 10px;
  }

  .teammates-list {
    width: auto;
    padding: 0 30px 80px;
    gap: 40px;
  }

  .teammates-list:before,
  .teammates-list:after {
    padding: 0 20px;
    gap: 10px;
  }

  .teammates-list-wrapper {
    gap: 40px;
  }

  .teammate-img-wrapper {
    height: 163px;
  }

  .teammate-name {
    color: #1f1f1f;
  }

  .teammate-social-icons {
    gap: 10px;
  }
  .teammate-social-icons > div {
    transition-duration: 1s;
  }
  .teammate-social-icons > div:hover {
    background-color: #969696;
  }

  .footer-content {
    padding: 30px;
    gap: 24px;
  }

  footer .social-icons div {
    font-weight: bold;
  }
  footer .social-icons div span,
  footer .social-icons div .icon,
  .email ul li a,
  .phones ul li a {
    transition-duration: 1s;
  }

  footer .social-icons div:hover span {
    color: #ffffff;
  }

  footer .social-icons div:hover .icon {
    background-color: #ffffff;
  }

  .footer-contacts {
    padding: 80px 0 60px;
  }

  .email ul li a:hover,
  .phones ul li a:hover {
    color: #ffffff;
  }
}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

@media (max-width: 1023px) {
  /* why does using the responsive mode in inspect, make fixed 
    only work when scrolling up, but new tab of it says its okay */
  header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 30px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px #00000026;
  }

  .header-content {
    height: 100%;
  }

  .top-navigation {
    padding: 4px 0;
    gap: 30px;
  }
  .trigram {
    appearance: auto;
  }

  .top-navigation ul {
    display: none;
  }

  .portfolio-content {
    padding-top: 70px;
    gap: 0;
  }

  .section-info {
    padding: 80px 30px;
  }

  .portfolio-list {
    padding: 0 30px;
    flex-direction: column;
    gap: 30px;
  }

  .portfolio-item {
    flex-direction: row;
    gap: 30px;
  }

  .portfolio-img-wrapper,
  .portfolio-img-wrapper img {
    width: 200px;
    height: 140px;
    gap: 10px;
  }

  .portfolio-item-info {
    justify-content: start;
    gap: 10px;
  }

  .portfolio-item-info .item-title {
    font-weight: 400;
    line-height: 30px;
  }

  .portfolio-item-info .item-description {
    font-weight: 400;
  }

  .teammates-content {
    padding: 0;
    gap: 0;
  }

  .teammates-content .section-info {
    padding: 80px 30px 60px;
  }
  .content h2 {
    font-size: 40px;
  }

  .teammates-list:before,
  .teammates-list::after {
    display: none;
  }

  .teammates-list-wrapper {
    padding: 0 30px 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 40px;
  }

  .teammate {
    width: 40%;
    justify-content: center;
  }

  .teammate-img-wrapper {
    height: 230px;
    width: 100%;
  }
  .teammate-img-wrapper img {
    width: 100%;
    height: 230px;
  }

  .teammate-data {
    gap: 16px;
  }

  .teammate-social-icons {
    justify-content: center;
    gap: 10px;
  }

  .teammate-social-icons > div {
    background-color: #969696;
  }

  .teammate-info * {
    text-align: center;
  }
  footer {
    padding: 30px;
  }
  .footer-content.content {
    padding: 0;
    gap: 24px;
  }
  .footer-content .social-icons > div {
    width: 30px;
  }

  .footer-content .social-icons > div > div {
    background-color: #ffffff;
  }

  .footer-content .social-icons * span {
    display: none;
  }

  .footer-contacts {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 80px 0 60px;
  }
  .footer-contacts > div {
    width: 339px;
  }

  .phones ul li a,
  .email ul li a {
    color: #ffffff;
  }
}
/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

@media (max-width: 767px) {
  .content {
    margin: 0;
    max-width: none;
  }
  header {
    padding: 10px 16px;
    width: 100%;
    min-width: 0;
  }
  .header-content {
    padding: 0;
    width: 100%;
    min-width: 0;
    justify-content: space-between;
    gap: 0;
  }

  .section-info {
    padding: 40px 16px;
  }

  .subtext {
    font-weight: 510;
    padding: 0;
    font-family: SFProDisplay, Arial, Helvetica, sans-serif;
  }
  .content p.subtext {
    width: 100%;
  }

  .portfolio-content {
    padding: 70px 0 40px;
  }
  .portfolio-list {
    padding: 0 16px;
  }

  .portfolio-item {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .portfolio-img-wrapper {
    width: 100%;
    height: 180px;
  }
  .portfolio-img-wrapper img {
    width: 328px;
    height: 180px;
  }

  .portfolio-item-info {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .portfolio-item-info .item-title {
    font-weight: 510;
    font-family: SFProDisplay, Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .portfolio-item-info .item-description {
    font-family: SFProDisplay, Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .teammates-content {
    padding-top: 0;
    gap: 0px;
  }

  .teammates-content .section-info {
    padding: 40px 30px 40px 16px;
  }

  h2.surrounded-header {
    width: 100%;
    padding: 0;
    font-size: 40px;
    gap: 10px;
  }

  .teammates-list {
    padding: 0 16px 40px 16px;
  }
  .teammates-list-wrapper {
    padding: 0;
    flex-flow: column nowrap;
  }
  .teammate {
    width: 100%;
    padding: 16px;
    border: 1px solid #969696;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
  }
  .teammate-img-wrapper,
  .teammate-img-wrapper > img {
    width: 130px;
    height: 130px;
  }
  .teammate-data,
  .teammate-info,
  .teammate-social-icons {
    align-items: start;
  }
  .teammate-info > span {
    text-align: start;
  }
  footer {
    padding: 30px 16px;
  }
  .footer-content {
    gap: 24px;
  }
  .footer-content .social-icons {
    flex-direction: column;
  }
  .footer-content .social-icons > div {
    width: auto;
  }
  .footer-content .social-icons * span {
    display: block;
  }
  .footer-contacts {
    padding: 40px 0 0;
  }
  .footer-contacts > div {
    width: 100%;
  }

  /*TODO footer flex and display */
}
